# Visual Studio files
   .vs/
   *.user
   *.userosscache
   *.sdf
   *.opensdf
   *.VC.db
   *.VC.VC.opendb

   # Build results
   [Dd]ebug/
   [Dd]ebugPublic/
   [Rr]elease/
   [Rr]eleases/
   x64/
   x86/
   bld/
   [Bb]in/
   [Oo]bj/
   [Ll]og/

   # Visual C++ cache files
   ipch/
   *.aps
   *.ncb
   *.opendb
   *.cachefile
   *.VC.db
   *.VC.VC.opendb

   # Other files and folders to ignore
   *.log
   *.tlog
   *.idb
   *.pdb